
<div>
	<h1>{{title}}</h1>
	<div>
		<p>{{'label.profile.username' | i18}}: {{user?.username}}</p>
	</div>
	<div>
		<p>{{'label.profile.email' | i18}}: {{user?.email}}</p>
	</div>
	<div>
		<label>{{'label.profile.firstname' | i18}}:
			<input  [disabled]="!user" type="text" [ngModel]="user?.firstName" (ngModelChange)="updateFirstName($event)"/>
		</label>
	</div>
	<div>
		<label>{{'label.profile.lastname' | i18}}:
			<input [disabled]="!user" type="text" [ngModel]="user?.lastName" (ngModelChange)="updateLastName($event)"/>
		</label>
	</div>
	<input [disabled]="!user" type="button" value="Save" (click)="saveProfile()"/>
	<p *ngIf="!user">{{'label.profile.loading' | i18}}</p>
	<p *ngIf="isSaving">{{'label.profile.saving' | i18}}</p>
	<p *ngIf="errorMessage">{{'label.profile.error' | i18}} {{errorMessage}}</p>
</div>
