
<button *ngIf="currentLanguage !== 'fr'" (click)="loadLang('fr')">Load french translation</button>
<button *ngIf="currentLanguage !== 'en'" (click)="loadLang('en')">Load English translation</button>

<app-profile-settings></app-profile-settings>
